.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
  background: rgba(230, 231, 233, 0.473);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  word-wrap: break-word;
}
.react-grid-item h3 {
  padding-top: 10px;
}
.react-grid-item span {
  display: inline-block;
  padding: 20px 10px;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.react-grid-item button {
  position: absolute;
  top: 0px;
  background-color: transparent;
  color: #0076b2;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin: 5px 0px;
}
.react-grid-item button svg {
  height: 20px;
  width: 20px;
}
.react-grid-item button:hover {
  background-color: transparent;
  color: #0076b2;
}
.react-grid-item .edit {
  right: 7px;
}
.react-grid-item .delete {
  right: 32px;
}
.MuiPopover-paper {
  top:45px !important
}
